.StatisticsPage {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_header {
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-xxl);
    margin-left: 20px;
    margin-bottom: 20px;

    &-text {
      display: flex;
      gap: 12px;
      text-transform: uppercase;
    }
  }

  &_puzzle {
    max-width: 1556px;
    width: 100%;
    align-self: center;
  }

  &_count {
    color: var(--black-2);
  }

  &_count2 {
    display: flex;
    gap: 4px;
  }

  &_rewards {
    color: var(--pink);
  }

  &_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: var(--space-xxl);
    width: 100%;
  }
}