.AppBar {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 72px;
  width: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  padding: 0 var(--space-xxl) 0 var(--space-xxxxxl);

  &_header {
    text-transform: uppercase;
  }

  &_content {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 30px;

    &-withNotify {
      &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--lime);
      }
    }
  }

  &_notifications {
    position: relative;
    display: flex;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid var(--pink-light);

    &:hover {
      background-color: var(--pink-light);
    }

    &::after {
      content: '4';
      position: absolute;
      display: flex;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.04em;
      color: white;
      width: 22px;
      height: 22px;
      top: 0;
      right: -7px;
      background-color: var(--pink);
      border-radius: 50%;
      justify-content: center;
      align-items: center;
    }
  }

  &_avatar {
    display: flex;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
}