@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Thin.ttf') format('truetype');
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Black.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;
}

.text {
  &-black {
    font-weight: 700;
  }

  &-extrabold {
    font-weight: 700;
  }

  &-bold {
    font-weight: 700;
  }

  &-semibold {
    font-weight: 600;
  }

  &-medium {
    font-weight: 500;
  }

  &-regular {
    font-weight: 400;
  }

  &-light {
    font-weight: 300;
  }

  &-extraLight {
    font-weight: 200;
  }

  &-thin {
    font-weight: 100;
  }

  &-t1 {
    font-size: 20px;
    line-height: 24px;
  }

  &-t2 {
    font-size: 16px;
    line-height: 20px;
  }

  &-h1 {
    font-size: 38px;
    line-height: 46px;
  }

  &-h2 {
    font-size: 28px;
    line-height: 34px;
  }

  &-h3 {
    font-size: 24px;
    line-height: 29px;
  }

  &--ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}