@font-face {
  font-family: 'GT-Eesti-LC';
  src: url('../../fonts/GT-Eesti-LC-Display-Light-2.otf') format('truetype');
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'GT-Eesti-LC';
  src: url('../../fonts/GT-Eesti-LC-Display-Light.otf') format('truetype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'GT-Eesti-LC';
  src: url('../../fonts/GT-Eesti-LC-Text-Regular.otf') format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'GT-Eesti-LC';
  src: url('../../fonts/GT-Eesti-LC-Text-Regular-2.otf') format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'GT-Eesti-LC';
  src: url('../../fonts/GT-Eesti-LC-Display-Medium.otf') format('truetype');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'GT-Eesti-LC';
  src: url('../../fonts/GT-Eesti-LC-Display-Medium-2.otf') format('truetype');
  font-display: swap;
  font-weight: 700;
}


.text {
  &-black {
    font-weight: 700;
  }

  &-extrabold {
    font-weight: 700;
  }

  &-bold {
    font-weight: 700;
  }

  &-semibold {
    font-weight: 600;
  }

  &-medium {
    font-weight: 500;
  }

  &-regular {
    font-weight: 400;
  }

  &-light {
    font-weight: 300;
  }

  &-extraLight {
    font-weight: 200;
  }

  &-thin {
    font-weight: 100;
  }

  &-t1 {
    font-size: 16px;
    line-height: 26px;
  }

  &-t2 {
    font-size: 14px;
    line-height: 16px;
  }

  &-h1 {
    font-size: 24px;
    line-height: 28px;
  }

  &-h2 {
    font-size: 20px;
    line-height: 24px;
  }

  &-h3 {
    font-size: 24px;
    line-height: 29px;
  }

  &--ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}