:root {
  --black: #000000;
  --black-1: #333333;
  --black-2: #999999;
  --black-3: #d0d0d0;
  --black-4: #CCCCCC;
  --black-5: #F0F0F0;
  --black-6: #FDFDFD;
  --red: #ff0000;
  --green: #00ff00;
  --blue: #0000ff;
  --white: #FFFFFF;
  --accordion: #c8aeef;
  --pink: #9462E0;
  --pink-light: #EDE6F8;
  --lime: #DAEE14;

  // border radiuses
  --border-radius-xxs: 4px;
  --border-radius-xs: 6px;
  --border-radius-s: 8px;
  --border-radius-m: 12px;
  --border-radius-l: 16px;
  --border-radius-xl: 32px;

  // spacings
  --space-xxxs: 4px;
  --space-xxs: 8px;
  --space-xs: 12px;
  --space-s: 16px;
  --space-m: 20px;
  --space-l: 24px;
  --space-xl: 30px;
  --space-xxl: 32px;
  --space-xxxl: 38px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 52px;
}