@import "./_fonts.scss", './variables';

body {
  font-family: 'Montserrat', sans-serif !important;
  color: #000;
  background-color: #fff;
  height: 100vh;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  a {
    text-decoration: none;
  }
}