.TopicSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;

  &_title {
    margin-left: 20px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &_content {
    display: flex;
    width: calc(100% + 32px);
    margin-right: -32px;
    overflow-x: auto;
    gap: 20px;
  }
}