.TopicSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;

  &_title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;

    &-text {
      font-style: normal;
      letter-spacing: 0.04em;

      &--more {
        letter-spacing: 0.04em;
        color: var(--pink);
        margin-right: var(--space-s);
      }
    }
  }

  &_content {
    display: flex;
    width: calc(100% + 32px);
    margin-right: -32px;
    overflow-x: auto;
    gap: 20px;
  }
}