.NewsCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;

  &_img {
    height: 250px;
  }

  &_text {
    height: auto;
    max-width: 463px;
    text-overflow: ellipsis;
    padding: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
  }
}