.NewsCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 420px;
  background: #FFFFFF;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;

  &_img {
    height: 250px;
  }

  &_text {
    height: auto;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    padding: 20px;
  }
}