.Accordion {
  &_nav {
    position: relative;
    height: 100%;
    width: 80px;
    flex-shrink: 0;
    background: var(--accordion);
  }

  &_ul {
    width: 100%;
  }

  &_logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 52px;

    &-icon {
      width: 50px;
      height: 26px;
    }
  }
}