.AddInitiativeModal {
  cursor: default;
  width: 762px;
  height: 314px;
  background-color: white;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 20px;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-closeIcon {
      color: var(--black-1);
    }
  }

  &_form {
    margin-top: 12px;
  }

  &_input {
    border-radius: 12px;
    margin-top: 12px;
    padding: 12px;
  }

  &_row {
    display: flex;
    gap: 12px;
  }
}